body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://orig00.deviantart.net/f4e1/f/2015/239/a/a/pokemon_x_and_y_vs_template_by_lil_riku-d6vkkr7.png");
}

.pokemon-card{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 300px;
  height: 400px;
  float: left;
  padding: 5px;
  border-radius: 10%;
  margin: 10px;
  background-image: url("http://orig01.deviantart.net/7e8f/f/2010/254/3/7/pokedex_wallpaper_v1_by_bugbyte-d2yii0o.png");
}

.pokemon-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.poke-img {
  width:80px;
  height: 80px;
  border-radius: 50%;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  padding:1px;
  border:1px solid white;
}

.poke-name {
  font-size: 1.6em;
  color: white;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.poke-description {
  text-align: left;
  width: 220px;
  margin-top: 20px;
  margin-left: 60px;
  border-radius: 5%;
  background: linear-gradient(darkblue, lightblue);
  color: white;
  height:180px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 7px 14px;
  width: 70px;
}

.poke-nav {
  color: white;
  font-size: 30px;
  margin-top: 2px;
  margin-left: 0px;
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace;
}

.active {
  color: white;
}

.dex-num {
  font-size: 1.7em;
  color: white;
  margin-left: 180px;
}

.poke-title {
  color: white;
}


.App {
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 3em;
  color: hsl(30, 70, 30);
}



.type {
	margin: 10px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #68A090;
	border: 1px solid #44685E;
}

.Normal {
  margin-left: 220px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #A8A878;
	border: 1px solid #6D6D4E;
}

.Fire {
  margin-left: 239px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #F08030;
	border: 1px solid #9C531F;
}

.Water {
  margin-left: 225px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #6890F0;
	border: 1px solid #445E9C;
}

.Electric {
  margin-left: 215px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #F8D030;
	border: 1px solid #A1871F;
}

.Grass {
  margin-left: 220px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #78C850;
	border: 1px solid #4E8234;
}

.Ice {
  margin-left: 215px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #98D8D8;
	border: 1px solid #638D8D;
}

.Ground {
  margin-left: 215px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #E0C068;
	border: 1px solid #927D44;
}

.Flying {
  margin-left: 215px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #A890F0;
	border: 1px solid #6D5E9C;
}

.Ghost {
  margin-left: 215px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #705898;
	border: 1px solid #493963;
}

.Rock {
  margin-left: 215px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #B8A038;
	border: 1px solid #786824;
}

.Fighting {
  margin-left: 215px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #C03028;
	border: 1px solid #7D1F1A;
}

.Poison {
  margin-left: 215px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #A040A0;
	border: 1px solid #682A68;
}

.Psychic {
  margin-left: 215px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #F85888;
	border: 1px solid #A13959;
}

.Bug {
  margin-left: 215px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #A8B820;
	border: 1px solid #6D7815;
}

.Dark {
  margin-left: 215px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #705848;
	border: 1px solid #49392F;
}

.Steel {
  margin-left: 215px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #B8B8D0;
	border: 1px solid #787887;
}

.Dragon {
  margin-left: 215px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #7038F8;
	border: 1px solid #4924A1;
}
